{% extends 'product/base.html' %}
{% block body%}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <img src="{{product.image}}">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                {{ product.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ product.price }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ product.discounted_price }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ product.description}}
            </div>
        </div>
    </div>
</div>
{% endblock %}
