
{% extends 'product/base.html' %}
{% block body%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="card card-sm">
                <div class="card-body row no gytters align-items-center">
                    <div class="col">
                        <input type="search" name="item_name" placeholder="Search" class="form-control form-control-borderless" />
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                     <div class="col-auto">
                        <button class="btn btn-error" type="submit" name="clear">Clear</button>
                    </div>
                </div>
            </form>
        </div>
   
</div>
    <div class="row">
        {% for product in products%}
        <div class="col-md-3">
            <div id={{product.name}} class="card" >
                <img src="{{ product.image }}" class="card-img-top">
                <div class="card-body">
                    <h5 id="nm{{product.id}}" class="card-title">
                        {{product.name}}
                    </h5>
                    <div class="card-text">
                        ${{product.price}}
                    </div>
                    <a class="btn btn-warning"  href='/detail/item/{{product.id}}'>View</a>
                    <button id={{product.id}} class="atc btn btn-warning" >Add to cart</button>
                    
                     
                </div>
            </div>
        </div>
        {%  endfor %}
        {% if not products %}
            <div class="col-md-3">
                <div class="card-text">No Items found</div>
            </div>
        {% endif %}
    </div>
    <div class="row">
            <div class="col-md-3 offset-md-4">
                <ul class="pagination">
                    {% if products.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                        <a  class="page-link" href="?page={{ products.number}}">{{products.number}}</a>
                    </li>

                    {% if products.has_next %}
                     <li class="page-item">
                            <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        console.log("Hello worl;d")
         let cart_val = {};

        if(!localStorage.getItem('cart')){
            // let cart_val = {};
            localStorage.setItem('cart', JSON.stringify(cart_val));
        }
        else {
            cart_val = JSON.parse(localStorage.getItem('cart'))
        }

        $(document).on('click', '.atc', function(){
            

            var item_id = this.id.toString();
            console.log(this, "THIS")
            console.log(item_id, "item ID")
            console.log('Add to cart btn')

            if(cart_val[item_id]){
                cart_val[item_id] += 1
            }
            else {
                cart_val[item_id] = 1;
            }

            console.log(cart_val, "CART")

            localStorage.setItem('cart', JSON.stringify(cart_val));

            var numOfItems = Object.entries(cart_val).reduce((acc, curr) => {
                console.log(acc, "acc")
                return acc+= curr[1]

            }, 0)
            console.log(numOfItems, "num of items")
            if (numOfItems){
                document.getElementById("cart").innerHTML = `Cart (${numOfItems})`
            }

            displayCart()

          
        })
      
           
        displayCart()

        function displayCart() {
            const items = JSON.parse(localStorage.getItem('cart'));
            console.log(items, "items")
            let cartContent = "<h2>Your Cart</h2>";
            if (!Object.keys(items).length) {
                cartContent = "<h5>Cart is empty</h5>"
            } else {

                for (const [itemId, quantity] of Object.entries(items)){
                console.log(quantity, "item ID")
                const currItem = document.getElementById(`nm${itemId}`)
                const itemName = currItem.innerHTML
                cartContent += `<p>${itemName}: ${quantity}</p>`

                }
                cartContent += "<a href='/checkout' class='btn btn-warning' id='checkout'>Checkout</a>"
                cartContent += "<a href='/clear' class='btn btn-error' id='clear'>Clear</a>"



            }

            console.log(cartContent, "cart content")
            
            
            

            
            const popoverTrigger = $('[data-bs-toggle="popover"]');
            popoverTrigger.popover();
            const cartElement = document.getElementById("cart");
            if (cartElement) {
                const popoverInstance = bootstrap.Popover.getInstance(cartElement);
                if (popoverInstance) {
                    popoverInstance.setContent({
                        '.popover-body': cartContent
                    });
                }
            }

    }

           
       

        
        

        
});
</script>
{% endblock %}

