
{% extends 'product/base.html' %}
{% block body%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="card card-sm">
                <div class="card-body row no gytters align-items-center">
                    <div class="col">
                        <input type="search" name="item_name" placeholder="Search" class="form-control form-control-borderless" />
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                     <div class="col-auto">
                        <button class="btn btn-error" type="submit" name="clear">Clear</button>
                    </div>
                </div>
            </div>
        </div>
   
</div>
    <div class="row">
        {% for product in products%}
        <div class="col-md-3">
            <div class="card" >
                <img src="{{ product.image }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">
                        {{product.name}}
                    </h5>
                    <div class="card-text">
                        ${{product.price}}
                    </div>
                    <a class="btn btn-warning"  href='/detail/item/{{product.id}}'>View</a>
                    <a class="btn btn-warning" href='/detail/item/{{product.id}}'>Add to cart</a>
                    
                     
                </div>
            </div>
        </div>
        {%  endfor %}
        {% if not products %}
            <div class="col-md-3">
                <div class="card-text">No Items found</div>
            </div>
        {% endif %}
    </div>
    <div class="row">
            <div class="col-md-3 offset-md-4">
                <ul class="pagination">
                    {% if products.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                        <a  class="page-link" href="?page={{ products.number}}">{{products.number}}</a>
                    </li>

                    {% if products.has_next %}
                     <li class="page-item">
                            <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
</div>
{% endblock %}

