
{% extends 'product/base.html' %}
{% block body%}
<div class="container">
    <div class="row">
        {% for product in products%}
        <div class="col-md-3">
            <div class="card" >
                <img src="{{ product.image }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">
                        {{product.name}}
                    </h5>
                    <div class="card-text">
                        ${{product.price}}
                    </div>
                </div>
            </div>
        </div>
        {%  endfor %}
    </div>
</div>
{% endblock %}

